.container{
    background-color: #158C03;
    display:grid;
    width: 100%;
    height: 120px;
    grid-template-columns: auto 60% auto;
    grid-template-rows: auto;
    align-items: center;

}
.imgLogo{
    grid-row: 1/1;
    grid-column: 1/3;
    height: 120px;
}
.name{
    grid-row: 1/1;
    grid-column: 2/3;
    text-align: center;
}